
.body{
    margin: 10;
    font-family: 'Roboto';
}

.main_container{
    text-align: center;
    height: 100vh;
    color: white;
}

.container{
    padding-top: 10%;
}

.form-inline{
    display: block;
    justify-content: center;
}

.info_container{
    display: inline-block;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.repo_container {
    float: left;
    width: 45%;
}

.org_container {
    float: right;
    width: 45%;
}

.iconDiv{
    font-size: 3.5em;
}